<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671915168478-m3t16h9l69a3gvflu264h6d6ijitr7ju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671915168478-m3t16h9l69a3gvflu264h6d6ijitr7ju</string>
	<key>API_KEY</key>
	<string>AIzaSyCwbeGMMsFPbN7GbYDLcXtB8iQlwkINTHI</string>
	<key>GCM_SENDER_ID</key>
	<string>671915168478</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeekands.muslimApp</string>
	<key>PROJECT_ID</key>
	<string>muslimapp-da8fc</string>
	<key>STORAGE_BUCKET</key>
	<string>muslimapp-da8fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671915168478:ios:ab7f6e0ab31389f621684f</string>
</dict>
</plist>